a br{
    display: none;
}

i.fa-eye{
    color: black;
}

i.fa-eye:hover{
    color: #3d3d3d;
}

.tooltip {
    position: relative;
}
  
.tooltip .tooltiptext {
visibility: hidden;
width: 75px;
background-color: black;
color: #fff;
text-align: center;
border-radius: 6px;
padding: 5px 0;
position: absolute;
bottom: 100%;
left: 50%;
z-index: 1;
margin-left: -37.5px;
}

.tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: black transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}

@media screen and (max-width: 430px) {
    a br{
        display: block;
    }
    .navbar-end form{
        display: none;
    }
}